<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Share App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_tcp._tcp</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Your app needs access to documenta to save files</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Your app needs access to documenta to save files</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your Camera.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Your app needs access to documenta to save files</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow so that you can connect to nearby devices</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>This app requires location access to provide better service and improve user experience.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your microphone to record audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to save photos and videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your photo library to select and share files.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
  <key>NSAppleMusicUsageDescription</key>
  <string>This app requires access to your media library to function properly.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Okra-Medium.ttf</string>
		<string>Okra-ExtraBold.ttf</string>
		<string>Okra-MediumLight.ttf</string>
		<string>Okra-Regular.ttf</string>
		<string>Okra-Bold.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
  <key>UISupportedInterfaceOrientations</key>
  <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UIRequiresFullScreen</key>
  <true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
